*
{
	margin: 0; padding: 0;
	font-family: sans-serif;
	outline: none;
	box-sizing: border-box;
}

body
{
	width: 100%;
	min-height: 100vh;
	background: #45a;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
	padding: 20px;
}


/* Display Flex */
.note .footer-note, 
.header-popup
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Display Grid - Centralizar */
#add,
.popup
{
	display: grid;
	place-items: center;
}

#add
{
	position: fixed;
	bottom: 20px; right: 20px;
	background: #fff;
	width: 60px; height: 60px;
	border-radius: 10px;
	z-index: 1000;
	font-size: 2em;
	color: #101;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
	transition: background .5s;
}
#add:hover
{
	background: #ddd;
}

.note
{
	height: 280px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.note
{
	position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}
.note h3,
.note p
{
	margin-bottom: 20px;
}
.note p
{
	text-align: justify;
	line-height: 1.3;
}
.note .footer-note
{
	border-top: 1px solid #aaa;
	padding: 20px 10px 0 10px;
	color: #aaa;
}

.edite-note
{
	position: relative;

}
.edite-note .bx
{
	font-size: 1.5rem;
}
.edite-note .option-edite
{
	position: absolute;
	bottom: 0; right: 0;
	background: #f2f2f2;
	padding: 8px;
	border-radius: 5px;
	transform: scale(0);
	transform-origin: bottom right;
	transition: transform .3s ease;
}
.edite-note:hover .option-edite
{
	transform: scale(1);
}
.edite-note .option-edite button
{
	width: 100%;
	padding: 3px 8px;
	background: transparent;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}
.edite-note .option-edite button:hover
{
	background: #ddd;
}

/* Popup Style */
.popup
{
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	transform: scale(0);
	transform-origin: bottom right;
	transition: transform .45s ease-in-out;
	z-index: 1;
}
.popup.open
{
	transform: scale(1);
}
.form-popup
{
	position: relative;
	background: #fff;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 50px rgba(0, 0, 0, .1);
	z-index: 22;
}
.form-popup .bx
{
	font-size: 2em;
	cursor: pointer;
}
.form-popup .form
{
	margin-top: 15px;
	border-top: 1px solid #aaa;
}
.form-popup .form .row
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.form-popup .form .row input,
.form-popup .form .row textarea
{
	border-radius: 5px;
	margin-top: 5px;
	padding: 8px;
	border: 1px solid #ddd;
}
.form-popup .form .row textarea
{
	resize: none;
	height: 200px;
	margin-bottom: 20px;
}
.form-popup .form button
{
	width: 100%;
	padding: 10px 0;
	background: #45a;
	color: #fff;
	border: none;
	font-size: 1.3em;
	border-radius: 5px;
	cursor: pointer;
}