*
{
	margin: 0; padding: 0;
	font-family: sans-serif;
	outline: none;
	box-sizing: border-box;
}

body
{
	width: 100%;
	min-height: 100vh;
	background: #113;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
	grid-row-gap: 20px;
	padding: 20px;
}


/* Display Flex */
.note .footer-note, 
.header-popup
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Display Grid - Centralizar */
#add-box,
.popup
{
	display: grid;
	place-items: center;
}

#add-box
{
	position: fixed;
	bottom: 20px; right: 20px;
	background: #fff;
	width: 50px; height: 50px;
	border-radius: 2px;
	z-index: 1000;
	font-size: 2em;
	color: #113;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
	transition: background .5s;
}
#add-box:hover
{
	background: #ddd;
}
#add-box i.open
{
	transform: rotate(45deg);
}


.note
{
	position: relative;
	padding: 20px;
	max-height: 300px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	overflow-x: hidden;
}
.note h3,
.note p
{
	margin-bottom: 20px;
}
.note p
{
	text-align: justify;
	line-height: 1.3;
}
.note .footer-note
{
	border-top: 1px solid #aaa;
	padding: 20px 10px 0 10px;
	color: #aaa;
}

.edite-note
{
	position: relative;

}
.edite-note .bx
{
	font-size: 1.5rem;
}
.edite-note .option-edite
{
	position: absolute;
	bottom: 0; right: 0;
	background: #f2f2f2;
	padding: 8px;
	border-radius: 5px;
	transform: scale(0);
	transform-origin: bottom right;
	transition: transform .3s ease;
}
.edite-note:hover .option-edite
{
	transform: scale(1);
}
.edite-note .option-edite button
{
	width: 100%;
	padding: 3px 8px;
	background: transparent;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}
.edite-note .option-edite button:hover
{
	background: #ddd;
}

/* Popup Style */
.popup
{
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	transform: scale(0);
	transform-origin: bottom right;
	transition: transform .45s ease-in-out;
	z-index: 1000;
}
.popup.open
{
	transform: scale(1);
}
.form-popup
{
	position: relative;
	background: #fff;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}
.form-popup .bx
{
	font-size: 2em;
	cursor: pointer;
}
.form-popup .form
{
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #aaa;
}

.form-popup .form .row input
{
	font-weight: bold;
}
.form-popup .form .row textarea
{
	height: 200px;
}
.form-popup .form .row input,
.form-popup .form .row textarea
{
	width: 100%;
	font-size: 1.2rem;
	border: none;
	padding: 8px;
	margin: 0 0 10px 0;
	resize: none;
}
.form-popup .form button
{	
	width: 100%;
	padding: 10px 0;
	background: #45a;
	color: #fff;
	border: none;
	font-size: 1.3em;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 436px)
{
	.form-popup
	{
		width: 100%;
		height: 100%;
	}
	.form-popup .form .row textarea
	{
		height: 65vh;
	}
}